

          body {
            display: flex;
            align-items: center;
            flex-direction: column;
            background-image: url("https://www.nationalgeographic.com/content/dam/archaeologyandhistory/rights-exempt/history-magazine/2017/01-02/giza-pyramids/giza-plateau-pyramids.ngsversion.1485215491918.adapt.1900.1.jpg");
            font-family:  sans-serif;
            width: 700px;
            margin-left: auto;
            margin-right: auto;
          }
          
          header {
            color: yellowgreen;
          }
          h3{
              color: black;
              text-align: justify;
          }
          
          .moves {
              color: black;
            font-size: xx-large; 
            text-align: justify;
            text-transform: uppercase;
          }
          
          h1 {
            color: #ffD700;
            font-size: 50px;
          }
          
          .container {
            display: flex;
            width: 700px;
            height: 50vh;
            border: 17px solid #30A9DE;
            margin-top: 5px;
            background-color: black;
          }
          
          footer {
            width: 100%;
            margin: 20px;
            text-align: right;
          }
          
          footer > a {
            padding: 10px 20px 10px 20px;
            color: #090707;
            text-decoration: none;
            background: white;
            transition: all 100ms ease;
            display: inline-block;
          }
          
          footer > a:hover {
            background: greenyellow;
          }
          
          
          #reset:active {
            transform: translate(0, 2px);
            
          }
          
          .col {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            flex: auto;
            margin: 0px;
            padding-left: 1rem;
            padding-right: 1rem;
            cursor: pointer;
            overflow-wrap: break-word;
          }
          
          .col+.col {
            border-left: 10px dashed #EFDC05;
          }
          
          .ring {
            height: 1.5rem;
            background: #c28604;
            
            transition: all 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
          }
          
          .bounce {
            animation-name: bounce;
            animation-iteration-count: infinite;
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
            animation-duration: 800ms;
            animation-delay: 300ms;
          }
          
          @keyframes bounce {
            0%, 90%    {transform: translate(0, -1rem)}
            90%, 100%  {transform: translate(0, 0)}
          }
          
          .level-select {
            color: yellowgreen;
            margin: auto -20rem  auto -20rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: all 100ms ease;
            font-size: 1.5rem;
           
          
          }
          
          .level-select-box {
            font-size: 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
          }
          
          .arrow:hover {
            color: greenyellow;
          }
          
          .level {
            color: yellowgreen;
            font-size: 4rem;
            padding: .5rem;
          }
          
          
          
          .gameOver {
            color: yellowgreen;
            margin: auto -20rem  auto -20rem ;
            padding: 0;
            font-size: .9rem;
            z-index: 100;
            text-align: center;
          }
          
          .report {
            margin-top: 0;
          }
          
          .big {
            font-size: 4rem;
            animation-name: blink;
            animation-iteration-count: infinite;
            animation-duration: 1.5s;
          }
          
          
          
          @keyframes blink {
            from {opacity: 0}
            to {opacity: 1}
          }
          
          .hover {
            transform: translate(0, -1rem);
          }
          
          .active {
            background-color: white;
            transform: translate(0, -1rem);
          }
          
          .rumble {
            animation-duration: 250ms;
            animation-name: rumble;
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          }
          
          @keyframes rumble {
            from {transform: rotate(10deg) translate(0, -1rem);}
            
            to {transform: translate(0, -1rem);}
          }